
body{
	margin: auto;
}



@media (max-width: 599px) {
	form {
		margin-left: 12vw;
		margin-top: 20vh;
	}

	form button {
		margin-left: 16vw;
	}

}

@media (min-width: 600px) {
	form {
		margin-left: 15vw;
		margin-top: 20vh;
	}

	#link {
		width: 20vw;
	}

	#display-link {
		margin-top: 10vh;
		margin-left: 20.5vw; 
		width: 17vw;
	}
}