<!-- templates/index.html -->
<html>
 <head>
    <title>Flask Shop</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 </head>
 <body>
 	
	<p class="title">Encutador de Link</p>
	<form class="form-inline">
	  <div class="form-group mx-sm-3 mb-2">
	    <input type="text" class="form-control" id="link" placeholder="Link">
	  </div>
	  <button type="submit" class="btn btn-primary mb-2" id="send">Encurtar</button>
	</form>
  </body>
<script src="../static/js/app.js" charset="utf-8"></script>
</html>